nav {
    text-align: center;
    display: inline;
    background-color:#CA3C66 ; 
    font-family: 'roboto';
    }

section { 
    display: block;
    text-align: center;
    background-color: #DB6A8F;
    font-family: 'roboto';}
form { 
    display: block;
    margin-top: 0em;
    background-color: #E8AABE ;
    font-family: 'roboto';
    }
footer {
    text-align: center;
    padding: 3px;
    background-color:#A7E0E0;
    color: white; 
    font-family: 'roboto';}